# Python bytecode files
__pycache__/
*.py[cod]

# Virtual env
env/

# Ignore environment files
../.env

# Postgresql
postgres_data
./postgres_data
postgres_data/


#Container
logs
static
media
redis
_redis_data
mongodb_data
logs
