.create-expense-container {
  display: flex;
}

.create-expense-content {
  margin-left: 250px; /* Adjust based on the width of your side navbar */
  padding: 20px;
  width: 100%;
}

.create-expense-form {
  background-color: #b4c3c8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Set a max-width to make the form smaller */
  margin: auto; /* Center the form horizontally */
}

.create-expense-form .form-group {
  margin-bottom: 15px;
}

.create-expense-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.create-expense-form .form-group input,
.create-expense-form .form-group select,
.create-expense-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.create-expense-form .form-group textarea {
  resize: vertical;
  height: 100px;
}

.create-expense-form .submit-button {
  background-color: #7d8fa2; /* Adjust to your desired button color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.create-expense-form .submit-button:hover {
  background-color: #7d8fa2; /* Darker shade of button color */
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
