.edit-expense-page {
  display: flex;
}

.edit-expense-content {
  flex: 1;
  padding: 20px;
  margin-left: 250px; /* Adjust based on SideNavbar width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 500px;
  background-color: #b4c3c8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  color: #333;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

.expense-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submit-button {
  background-color: #5d6b7c !important; /* Change this to your desired color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-start;
  
}

.submit-button:hover {
  background-color: #7d8fa2 !important; /* Darker shade of button color */
}
